**/node_modules
**/dist
!/packages/verus-networks/dist
!/packages/verus-rpc-provider/dist
!/packages/verus-rpc-fee-provider/dist
!/packages/verus-swap-provider/dist
!/packages/verus-utils/dist

**/.nyc_output
**/coverage

**/yarn.lock

**/doc

**/docs

**/readme-example.js

testnetConfig.js

/test.html
/test.js

**/.DS_Store

lerna-debug.log